@font-face {
    font-family: 'Noto Nastaliq Urdu';
    font-style: normal;
    font-weight: 400;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/NotoNastaliqUrdu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Nastaliq Urdu';
    font-style: normal;
    font-weight: 700;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/NotoNastaliqUrdu-Bold.ttf') format('truetype');
}

/* Default style for identified Urdu text */
.urdu-nastaleeq {
    font-family: 'Noto Nastaliq Urdu', 'Jameel Noori Nastaleeq', 'Urdu Typesetting', serif !important;
    line-height: 2.0 !important;
    text-rendering: optimizeLegibility;
    direction: rtl;
}